.upload{
    background-color: aquamarine;
}

.top{
    margin:10px;
    background-color:blueviolet;
    display: flex;
    align-items: center;
    height: 45px;
}
.nav {
    color:rgb(145, 255, 0);
    display:inline;
    float:left;
    padding: 2px 20px;
    margin-right: 16px;
    font-size: 24px;
}

.nav-select{
    color:rgb(145, 255, 0);
    display:inline;
    float:left;
    padding: 2px 20px;
    margin-right: 16px;
    font-size: 24px;
    background-color: rgb(13, 16, 163);
    border-radius: 8px;
}

.nav:hover{
    cursor: pointer;
    background-color: rgb(226, 43, 144);
    border-radius: 8px;
}
.nav-select:hover{
    cursor: pointer;
}



.hid{
    display: none;
    visibility: hidden;
}
.sho{
    display: block;
    visibility: visible;
}