.App {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

table {
	border: 2px solid forestgreen;
	width: 90%;
	height: 36px;
}

th {
	border-bottom: 1px solid black;
}

td {
	text-align: center;
}

.gap{
	display: flex;
	justify-content: center;
	gap: 10px;
}
