.navlink {
    display: flex;
    width: auto;
    padding: 10px 25px;
    justify-content: space-between;
    align-items: center;
    background: rgba(46, 46, 46, 0.27);
    backdrop-filter: blur(600px);
}

.navcontainer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.link {
    display: flex;
    width: auto;
    height: 32px;
    justify-content: center;
    align-items: center;
    font-family: metro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icon {
    width: 32px;
    height: 32px;
    padding: 0px 2px;
}