.sub{
color: #503c3c;
text-align: center;
/* subtext */
font-family: azere;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.formhead{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    flex-shrink: 0;
    background-color:rgb(255, 255, 255);
    padding-bottom: 20px;
}

.strock{
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
}

.label{
  margin: 0;
  white-space: pre-wrap;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: stretch;
  font-family: azere;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 0%;
  font-weight: 700;
  text-align: left;
  color: #000;
  padding-left: 3px;
}

.input{
  margin: 0;
  white-space: pre-wrap;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: stretch;
  font-family: azere;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 0%;
  text-align: left;
  color: #000;
  border: 0;
  outline:0;
  background-color:rgb(255, 255, 255);
}


.fram3{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  gap: 10px;
  padding: 0px 50px;
}

.inputcontainer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: '90%';
    height: fit-content;
    gap: 10px;
}


.label:hover{
  cursor: pointer;
}

.button{
  display: inline-flex;
  padding: 10px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: #415438;
  color: #FFF;
  font-family: metro;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  letter-spacing: 0.8px;
}

.button:hover{
  cursor: pointer;
}

div.butt{
  display: inline-flex;
  gap:30px;
  padding-bottom: 20px;
}

div{
  color: black;
}